<!DOCTYPE html>
<link rel="icon" href="/favicon.ico" type="image/x-icon">    
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhã Nhạc Pro123 </title>
</head>
<body>
    <h1>nhavopro123</h1>
    <video id = 'localStream' width="300" style="margin-left: 400px;" controls></video>
    <br/><br/>
    <video id = 'friendStream' width="300" style="margin-left: 400px;" controls></video>
    <br/><br/>
    <label> My connection Token</label>
    <br/><br/>
    <textarea rows="3" cols="200" id="txtMySignal"></textarea> 
    <br/><br/>
    <input type="text" placeholder="your friend's signal" id="txtFriendSignal">
    <br/><br/>
    <button id="btnConnect">Connect</button>

</body>
<script src="bundle.js"></script>
</html>